


/* 
    Some key helper classes  
*/

.flex-scrollable {
    overflow: auto;
}

.flex-scrollable-y {
    overflow-y: auto;
    overflow-x: hidden;
}

.flex-parent-col {
    height: 100%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

}
.flex-parent-row {
    width: 100%;

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.flex-child {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
    position: relative;
}

.flex-nested-start {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* 
    Main definitions of the bs-grid 
*/

.bs-grid {
    overflow: hidden;
    font-family: Arial, Verdana, sans-serif;
    font-size: 0.80em;
}

.bs-grid * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.bs-grid.border {
    border: 1px solid #c0c3cb;
}

.bs-grid .full-resize-marker {
    height: 100%;
    width: 5px;
    background-color: rgba(175, 174, 178, 0.58);
    position: absolute;
    top: 0;
    border-left: 1px solid rgba(168, 174, 181, 0.49);
    border-right: 1px solid rgba(168, 174, 181, 0.49);
}

.bs-grid .resize-marker {
    position: absolute;
    top: 0;
    width: 9px;
    height: 100%;
    background-color: transparent;
    cursor: col-resize;
    z-index: 2;
}

.bs-grid .header:hover > .resize-marker {
    background-color: rgba(182, 182, 182, 0.2);     /*0.2*/
}

.bs-grid .insert-marker {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
}
    .bs-grid .insert-marker .down {
        position: absolute;
        top: -13px;
        left: -10px;
        color: red;
    }


.bs-grid .cell-header {
    position: relative;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 100%;
    padding: 6px 5px;
    border-bottom: 1px solid lightgray;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bolder;
    color: #707070;
}


.bs-grid .header-containment {
    position: absolute;
    width: 100%;
    padding-right: 17px;
    height: 30px;
}

.bs-grid .spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: rgba(186, 191, 226, 0.10);
}

.bs-grid .row {
    line-height: 1.8;
}

.bs-grid .row:nth-child(even) > .cell {
    background: #F7F7F7;
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
}

.bs-grid .row.flex-parent-row:hover > .cell {
    background-color: rgba(201, 235, 220, 0.5);
    font-weight: bold;
}

.bs-grid .data .row.flex-parent-row.pk-selected > .cell {
    background-color: orange;
    border-top: 1px solid #ff7500;
    border-bottom: 1px solid #ff7500;
    font-weight: bold;
}

.bs-grid .resize {
    position: absolute;
    top: 0;
    width: 9px;
    height: 100%;
    background-color: transparent;
    cursor: col-resize;
    z-index: 2;
}

.bs-grid .header {
    position: relative;
}
.bs-grid .header:hover > .resize {
    background-color: rgba(182, 182, 182, 0.2);   
}

.bs-grid .cell-right-column {
    border-right: 1px solid rgba(146, 145, 150, 0.31);
}
.bs-grid .cell {
    position: relative;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    color: black;
    padding: 0 3px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 0.95em;

    border-top: 1px solid rgba(87, 164, 20, 0.09);
    border-bottom: 1px solid rgba(0, 177, 255, 0.09);
}

.bs-grid .row:first-child .cell {
    border-top: 1px solid transparent;
}



/* 
    Additional assisting classes 
*/

.bs-grid .alignright {
    text-align: right;
}

.bs-grid .alignleft {
    text-align: left;
}

.bs-grid .aligncenter {
    text-align: center;
}


.bs-grid .arrow-up {
    display: inline-block;
    margin: 0 5px 2px 5px;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
}

.bs-grid .arrow-down {
    display: inline-block;
    margin: 0 5px 2px 5px;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid black;
}

.bs-grid .pager {
    padding: 4px 0 4px 10px;
    background-color: rgb(229, 230, 232);
    border-top: 1px solid lightgray;
}

.bs-grid .pager-button {
    width: 30px;
    height: 22px;
}

.bs-grid .merged-image {
    position: absolute;
    width: 20px;
    text-align: center;
}

.bs-grid .merged-image.left {
    right: 2px;
}

.bs-grid .merged-image.right {
    right: 2px;
}