<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome" version="4.2.0" targetFramework="net45" />
  <package id="jQuery" version="2.1.4" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.2.4" targetFramework="net45" />
  <package id="jQuery.UI.Combined" version="1.11.1" targetFramework="net45" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="0.3.6" targetFramework="net45" />
  <package id="linq.js" version="2.2.0.2" targetFramework="net45" />
  <package id="linq.TypeScript.DefinitelyTyped" version="0.1.8" targetFramework="net45" />
  <package id="Moment.js" version="2.10.3" targetFramework="net45" />
  <package id="moment.TypeScript.DefinitelyTyped" version="1.0.4" targetFramework="net45" />
  <package id="numeral" version="1.5.3" targetFramework="net45" />
  <package id="numeraljs.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net45" />
  <package id="RequireJS" version="2.1.6" targetFramework="net45" />
  <package id="RequireJS.Text" version="2.0.7" targetFramework="net45" />
  <package id="typescript.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net45" />
</packages>